In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##3.2 Warm-up Exercises

###Sorting and Subsetting

In [2]:
import pandas as pd
#Loading the dataset
df = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

####Problem 1

In [6]:
#Creating dataframe of Fare
fare_df = df[['Fare']]
print(fare_df.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [7]:
#Creating dataframe of Pclass and Age
class_age = df[['Pclass','Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [8]:
#Creating dataframe of survived and gender
survived_gender = df[['Survived','Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

####Problem 2

In [10]:
#Creating dataframe where fare is greater than 100
fare_gt_100 = df[df['Fare']>100]
print(fare_gt_100.info())

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 27 to 856
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  53 non-null     int64
 1   Survived     53 non-null     int64
 2   Pclass       53 non-null     int64
 3   Name         53 non-null     object
 4   Sex          53 non-null     object
 5   Age          48 non-null     float64
 6   SibSp        53 non-null     int64
 7   Parch        53 non-null     int64
 8   Ticket       53 non-null     object
 9   Fare         53 non-null     float64
 10  Cabin        43 non-null     object
 11  Embarked     53 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 5.4+ KB
None

In [12]:
#Creating dataframe where Pclass is 1
first_class = df[df['Pclass'] == 1]
print(first_class.info())
print(first_class.head())

<class 'pandas.core.frame.DataFrame'>
Index: 216 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  216 non-null    int64
 1   Survived     216 non-null    int64
 2   Pclass       216 non-null    int64
 3   Name         216 non-null    object
 4   Sex          216 non-null    object
 5   Age          186 non-null    float64
 6   SibSp        216 non-null    int64
 7   Parch        216 non-null    int64
 8   Ticket       216 non-null    object
 9   Fare         216 non-null    float64
 10  Cabin        176 non-null    object
 11  Embarked     214 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 21.9+ KB
None
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

In [13]:
#Filter for female passengers under 18
female_under_18 = df[(df['Sex'] == 'female') & (df['Age'] < 18)]
print(female_under_18.info())
print(female_under_18.head())

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 9 to 875
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  55 non-null     int64
 1   Survived     55 non-null     int64
 2   Pclass       55 non-null     int64
 3   Name         55 non-null     object
 4   Sex          55 non-null     object
 5   Age          55 non-null     float64
 6   SibSp        55 non-null     int64
 7   Parch        55 non-null     int64
 8   Ticket       55 non-null     object
 9   Fare         55 non-null     float64
 10  Cabin        11 non-null     object
 11  Embarked     55 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 5.6+ KB
None
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

#####Subsetting Rows by Categorical Variables

In [14]:
#Filter for Embarked C or S
embarked_c_or_s = df[(df['Embarked'] == 'C') | (df['Embarked'] == 'S')]
print(embarked_c_or_s.info())
print(embarked_c_or_s.head())

<class 'pandas.core.frame.DataFrame'>
Index: 812 entries, 0 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  812 non-null    int64
 1   Survived     812 non-null    int64
 2   Pclass       812 non-null    int64
 3   Name         812 non-null    object
 4   Sex          812 non-null    object
 5   Age          684 non-null    float64
 6   SibSp        812 non-null    int64
 7   Parch        812 non-null    int64
 8   Ticket       812 non-null    object
 9   Fare         812 non-null    float64
 10  Cabin        198 non-null    object
 11  Embarked     812 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 82.5+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [15]:
#Filter for first or second class
first_second_class = df[(df['Pclass'] == 1) | (df['Pclass'] == 2)]
print(first_second_class.info())
print(first_second_class.head())

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  400 non-null    int64
 1   Survived     400 non-null    int64
 2   Pclass       400 non-null    int64
 3   Name         400 non-null    object
 4   Sex          400 non-null    object
 5   Age          359 non-null    float64
 6   SibSp        400 non-null    int64
 7   Parch        400 non-null    int64
 8   Ticket       400 non-null    object
 9   Fare         400 non-null    float64
 10  Cabin        192 non-null    object
 11  Embarked     398 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 40.6+ KB
None
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

###3.2 Exploratory Data Analysis

In [23]:
# Question 1: Highest fare paid relative to age
#Dataframe fare per age
df['fare_per_age'] = df['Fare'] / df['Age']
print(df['fare_per_age'].head())

#Creating high_fare_age where fare_per_age > 5
high_fare_age = df[df['fare_per_age'] > 5]

#Sorting the fare age in descending order
high_fare_age_srt = high_fare_age.sort_values('fare_per_age', ascending=False)

#Storing the name and fare_per_age in result
result = high_fare_age_srt[['Name','fare_per_age']]
print(result)

0    0.329545
1    1.875876
2    0.304808
3    1.517143
4    0.230000
Name: fare_per_age, dtype: float64
                                       Name  fare_per_age
305          Allison, Master. Hudson Trevor    164.728261
297            Allison, Miss. Helen Loraine     75.775000
386         Goodwin, Master. Sidney Leonard     46.900000
164            Panula, Master. Eino Viljami     39.687500
183               Becker, Master. Richard F     39.000000
..                                      ...           ...
318                Wick, Miss. Mary Natalie      5.318281
348  Coutts, Master. William Loch "William"      5.300000
205              Strom, Miss. Telma Matilda      5.231250
813      Andersson, Miss. Ebba Iris Alfrida      5.212500
480          Goodwin, Master. Harold Victor      5.211111

[68 rows x 2 columns]

In [26]:
# Question 2: Highest fare paid by adult male relative to class
#Dataframe fare_per_class
df['fare_per_class'] = df['Fare'] / df['Pclass']
#Subset where sex is male above 18
adult_males = df[(df['Age'] >= 18) & (df['Sex'] == 'male')]
#Sorted adult_males
adult_males_srt = adult_males.sort_values('fare_per_class', ascending=False)
#Result where name age and fare per class
result = adult_males_srt[['Name','Age','fare_per_class']]
print(result)

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
271        Tornquist, Mr. William Henry  25.0          0.0000
179                 Leonard, Mr. Lionel  36.0          0.0000
302     Johnson, Mr. William Cahoone Jr  19.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000

[395 rows x 3 columns]

###3.3 Exploratory Data Analysis 2

In [28]:
# Question 1: Percent of total fare revenue from each class
total_fare =df[['Fare']].sum();
first_class_fare = df[df['Pclass'] == 1][['Fare']].sum();
second_class_fare = df[df['Pclass'] == 2][['Fare']].sum();
third_class_fare = df[df['Pclass'] == 3][['Fare']].sum();

fare_totals =[first_class_fare,second_class_fare,third_class_fare]
fare_percentages = [fare / total_fare * 100 for fare in fare_totals]
print(fare_percentages)

[Fare    63.349288
dtype: float64, Fare    13.249629
dtype: float64, Fare    23.401084
dtype: float64]

In [29]:
# Question 2: Percent of total passengers by age group
df['age_group'] = pd.cut(df['Age'], bins=[-1, 17, 64, float('inf')], labels=['child', 'adult', 'senior'])
total_passengers = len(df)
age_group_counts = df['age_group'].value_counts()
age_group_percentages = (age_group_counts / total_passengers) * 100
print(age_group_percentages)

age_group
adult     66.217733
child     12.682379
senior     1.234568
Name: count, dtype: float64